<!doctype html>
<html>
  <head>
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <style>
    </style>
  </head>
  <body>
    <div class="container"
           style="margin-top: 50px; margin-left: 50px; margin-right: 80px">
      <h1> Fake News Detector </h1>

      <p> <b>&cross;</b> This article seems <span style="color: darkred"><b>unreliable</b></span>.</p>

      <p> Here is a more reliable source on the same topic: <a href={{alt_url}}>{{alt_url}}</a> </p>
      <p> Below is a summary of the alternate article. </p>
      <hr class="solid" style="margin-top: 30px; margin-bottom: 30px">

      <p> {{alt_text}} </p>
      <hr class="solid" style="margin-top: 30px; margin-bottom: 30px">

      <p> The original article text is reproduced below. </p>
      <hr class="solid" style="margin-top: 30px; margin-bottom: 30px">

      <p> {{text}} </p>
    </div>
  </body>
  <footer style="margin-left: 30px">&copy 2021 Zahur Ashrafuzzaman, Ben Segall, Jules Barbe.
    Created for MAIS 202 Winter 2021.</footer>
</html>